
<header class="site-header">

  <div class="wrapper">

    {% for entry in site.contact %}
      <a style="padding-left:10px;" href="{{ entry.link }}"> <i class="fa {{ entry.icon }}"></i></a>
    {% endfor %}

    <a style="padding-left:10px;" href="{{ site.url }}"> Arturo Alcibia </a>

    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages %}
      {% if page.showInHeader %}
        <a style="float: right;" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}

  </div>

</header>