<section id="project">
    <div class="card-container">
      {% for collection in site.collections %}

        {% if collection.output == false or collection.label == "posts" %}
            {% continue %}
        {% endif %}

            {% for project in collection.docs %}
              <a href="{{ site.url }}{{ project.url }}">
              <div class="card-wrapper">
                <div class="card">
                  <div class="img-wrap">
                    <img src="{{ project.icon }}" alt="">
                  </div>
                  <div class="text-wrap {% if project.image %}{% endif %}">
                    <div class="title-wrap">
                      <div class="title">{{ project.title }}</div>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            {% endfor %}
      {% endfor %}
    </div>
  <div class="bg"></div>
</section>

